<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<style>
  html, body { margin: 0; padding: 0; }
  .u-name {
    display: block;
    color: #fffcd0;
    font-size: 12px;
    line-height: 18px;
    width: 1em;
    text-shadow: 1px 1px 1px #000;
    font-family: "Microsoft YaHei", sans-serif;
  }
  .server {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 35px;
    z-index: 10;
  }
  .updateTime {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 65px;
    z-index: 10;
  }
  .server .text, .updateTime .text {
    position: relative;
    color: #f4d8b3;
    font-family: "Microsoft YaHei", sans-serif;
  }
  .server .text { font-weight: 800; font-size: 36px; }
  .updateTime .text { font-weight: 600; font-size: 25px; }
  .text::after {
    content: attr(text);
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    background-image: linear-gradient(to bottom, #ffeebc, #ce893b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: none;
  }
</style>
</head>
<body>
{% set castle_map = {} %}
{% if data is mapping and data.data is defined %}
  {% for item in data.data %}{% set _ = castle_map.update({item.castleName: item.campId}) %}{% endfor %}
{% endif %}
{% macro c(name) %}{{ '浩' if castle_map.get(name, 0) == 1 else '恶' }}{% endmacro %}

<div style="position:relative;width:1297px;">
  <div class="server"><span class="text" text="{{ server }}">{{ server }}</span></div>
  <div class="updateTime"><span class="text" text="{{ timestamp }}">{{ timestamp }}</span></div>

  <div><img style="position:absolute;left:225px;top:58px;" src="sandTables/恶_恶人谷.png"><img style="position:absolute;left:287px;top:105px;" src="sandTables/图标_恶_恶人谷.png"><span class="u-name" style="left:367px;top:105px;z-index:3;position:absolute;">恶人谷</span></div>
  <div><img style="position:absolute;left:300px;top:110px;" src="sandTables/{{ c('凛风堡') }}_凛风堡.png"><img style="position:absolute;left:432px;top:187px;" src="sandTables/图标_{{ c('凛风堡') }}_凛风堡.png"><span class="u-name" style="left:482px;top:177px;z-index:3;position:absolute;">凛风堡</span></div>
  <div><img style="position:absolute;left:262px;top:248px;" src="sandTables/{{ c('神池岭') }}_神池岭.png"><img style="position:absolute;left:283px;top:288px;" src="sandTables/图标_{{ c('神池岭') }}_02.png"><span class="u-name" style="left:323px;top:278px;z-index:3;position:absolute;">神池岭</span></div>
  <div><img style="position:absolute;left:167px;top:310px;" src="sandTables/{{ c('烈日岗') }}_烈日岗.png"><img style="position:absolute;left:230px;top:368px;" src="sandTables/图标_{{ c('烈日岗') }}_01.png"><span class="u-name" style="left:276px;top:358px;z-index:3;position:absolute;">烈日岗</span></div>
  <div><img style="position:absolute;left:443px;top:227px;" src="sandTables/{{ c('扶风郡') }}_扶风郡.png"><img style="position:absolute;left:475px;top:265px;" src="sandTables/图标_{{ c('扶风郡') }}_01.png"><span class="u-name" style="left:525px;top:255px;z-index:3;position:absolute;">扶风郡</span></div>
  <div><img style="position:absolute;left:383px;top:274px;" src="sandTables/{{ c('世外坡') }}_世外坡.png"><img style="position:absolute;left:445px;top:334px;" src="sandTables/图标_{{ c('世外坡') }}_05.png"><span class="u-name" style="left:485px;top:324px;z-index:3;position:absolute;">世外坡</span></div>
  <div><img style="position:absolute;left:507px;top:181px;" src="sandTables/{{ c('飞沙关') }}_飞沙关.png"><img style="position:absolute;left:530px;top:204px;" src="sandTables/图标_{{ c('飞沙关') }}_01.png"><span class="u-name" style="left:570px;top:194px;z-index:3;position:absolute;">飞沙关</span></div>
  <div><img style="position:absolute;left:540px;top:162px;" src="sandTables/{{ c('龙门镇') }}_龙门镇.png"><img style="position:absolute;left:597px;top:188px;" src="sandTables/图标_{{ c('龙门镇') }}_02.png"><span class="u-name" style="left:637px;top:178px;z-index:3;position:absolute;">龙门镇</span></div>
  <div><img style="position:absolute;left:178px;top:530px;" src="sandTables/{{ c('凤鸣堡') }}_凤鸣堡.png"><img style="position:absolute;left:222px;top:575px;" src="sandTables/图标_{{ c('凤鸣堡') }}_04.png"><span class="u-name" style="left:262px;top:565px;z-index:3;position:absolute;">凤鸣堡</span></div>
  <div><img style="position:absolute;left:166px;top:422px;" src="sandTables/{{ c('惊虬谷') }}_惊虬谷.png"><img style="position:absolute;left:275px;top:476px;" src="sandTables/图标_{{ c('惊虬谷') }}_01.png"><span class="u-name" style="left:315px;top:466px;z-index:3;position:absolute;">惊虬谷</span></div>
  <div><img style="position:absolute;left:406px;top:394px;" src="sandTables/{{ c('日月崖') }}_日月崖.png"><img style="position:absolute;left:494px;top:472px;" src="sandTables/图标_{{ c('日月崖') }}_02.png"><span class="u-name" style="left:534px;top:462px;z-index:3;position:absolute;">日月崖</span></div>
  <div><img style="position:absolute;left:375px;top:508px;" src="sandTables/{{ c('卧龙坡') }}_卧龙坡.png"><img style="position:absolute;left:469px;top:553px;" src="sandTables/图标_{{ c('卧龙坡') }}_03.png"><span class="u-name" style="left:509px;top:543px;z-index:3;position:absolute;">卧龙坡</span></div>
  <div><img style="position:absolute;left:643px;top:196px;" src="sandTables/{{ c('啖杏林') }}_啖杏林.png"><img style="position:absolute;left:651px;top:230px;" src="sandTables/图标_{{ c('啖杏林') }}_01.png"><span class="u-name" style="left:671px;top:270px;z-index:3;position:absolute;">啖杏林</span></div>
  <div><img style="position:absolute;left:636px;top:246px;" src="sandTables/{{ c('枫湖寨') }}_枫湖寨.png"><img style="position:absolute;left:713px;top:284px;" src="sandTables/图标_{{ c('枫湖寨') }}_03.png"><span class="u-name" style="left:743px;top:274px;z-index:3;position:absolute;">枫湖寨</span></div>
  <div><img style="position:absolute;left:536px;top:405px;" src="sandTables/{{ c('不空关') }}_不空关.png"><img style="position:absolute;left:630px;top:436px;" src="sandTables/图标_{{ c('不空关') }}_04.png"><span class="u-name" style="left:670px;top:426px;z-index:3;position:absolute;">不空关</span></div>
  <div><img style="position:absolute;left:575px;top:467px;" src="sandTables/{{ c('激流坞') }}_激流坞.png"><img style="position:absolute;left:597px;top:505px;" src="sandTables/图标_{{ c('激流坞') }}_01.png"><span class="u-name" style="left:637px;top:495px;z-index:3;position:absolute;">激流坞</span></div>
  <div><img style="position:absolute;left:274px;top:654px;" src="sandTables/{{ c('澜沧城') }}_澜沧城.png"><img style="position:absolute;left:330px;top:747px;" src="sandTables/图标_{{ c('澜沧城') }}_03.png"><span class="u-name" style="left:370px;top:737px;z-index:3;position:absolute;">澜沧城</span></div>
  <div><img style="position:absolute;left:205px;top:630px;" src="sandTables/{{ c('霜戈堡') }}_霜戈堡.png"><img style="position:absolute;left:256px;top:676px;" src="sandTables/图标_{{ c('霜戈堡') }}_01.png"><span class="u-name" style="left:296px;top:666px;z-index:3;position:absolute;">霜戈堡</span></div>
  <div><img style="position:absolute;left:773px;top:168px;" src="sandTables/{{ c('金门关') }}_金门关.png"><img style="position:absolute;left:823px;top:250px;" src="sandTables/图标_{{ c('金门关') }}_04.png"><span class="u-name" style="left:863px;top:240px;z-index:3;position:absolute;">金门关</span></div>
  <div><img style="position:absolute;left:867px;top:189px;" src="sandTables/{{ c('青云坞') }}_青云坞.png"><img style="position:absolute;left:901px;top:218px;" src="sandTables/图标_{{ c('青云坞') }}_01.png"><span class="u-name" style="left:941px;top:208px;z-index:3;position:absolute;">青云坞</span></div>
  <div><img style="position:absolute;left:712px;top:427px;" src="sandTables/{{ c('逐鹿坪') }}_逐鹿坪.png"><img style="position:absolute;left:773px;top:485px;" src="sandTables/图标_{{ c('逐鹿坪') }}_03.png"><span class="u-name" style="left:813px;top:475px;z-index:3;position:absolute;">逐鹿坪</span></div>
  <div><img style="position:absolute;left:641px;top:511px;" src="sandTables/{{ c('盘龙坞') }}_盘龙坞.png"><img style="position:absolute;left:732px;top:556px;" src="sandTables/图标_{{ c('盘龙坞') }}_05.png"><span class="u-name" style="left:772px;top:546px;z-index:3;position:absolute;">盘龙坞</span></div>
  <div><img style="position:absolute;left:453px;top:611px;width:288px;height:196px;" src="sandTables/{{ c('千岩关') }}_千岩关.png"><img style="position:absolute;left:530px;top:751px;" src="sandTables/图标_{{ c('千岩关') }}_01.png"><span class="u-name" style="left:570px;top:741px;z-index:3;position:absolute;">千岩关</span></div>
  <div><img style="position:absolute;left:453px;top:634px;width:171px;height:101px;" src="sandTables/{{ c('大理山城') }}_大理山城.png"><img style="position:absolute;left:487px;top:660px;" src="sandTables/图标_{{ c('大理山城') }}_04.png"><span class="u-name" style="left:527px;top:650px;z-index:3;position:absolute;">大理山城</span></div>
  <div><img style="position:absolute;left:761px;top:359px;" src="sandTables/{{ c('秋雨堡') }}_秋雨堡.png"><img style="position:absolute;left:828px;top:405px;" src="sandTables/图标_{{ c('秋雨堡') }}_01.png"><span class="u-name" style="left:868px;top:395px;z-index:3;position:absolute;">秋雨堡</span></div>
  <div><img style="position:absolute;left:745px;top:300px;" src="sandTables/{{ c('红莲岗') }}_红莲岗.png"><img style="position:absolute;left:849px;top:334px;" src="sandTables/图标_{{ c('红莲岗') }}_02.png"><span class="u-name" style="left:889px;top:324px;z-index:3;position:absolute;">红莲岗</span></div>
  <div><img style="position:absolute;left:701px;top:466px;width:251px;height:272px;" src="sandTables/{{ c('武王城') }}_武王城.png"><img style="position:absolute;left:842px;top:599px;" src="sandTables/图标_{{ c('武王城') }}_武王城.png"><span class="u-name" style="left:902px;top:589px;z-index:3;position:absolute;">武王城</span></div>
  <div><img style="position:absolute;left:815px;top:552px;" src="sandTables/浩_浩气盟.png"><img style="position:absolute;left:887px;top:661px;" src="sandTables/图标_浩_浩气盟.png"><span class="u-name" style="left:957px;top:671px;z-index:3;position:absolute;">浩气盟</span></div>

  <div>
    <img style="position:absolute;left:418px;top:180px;" src="sandTables/昆仑.png">
    <img style="position:absolute;left:431px;top:283px;" src="sandTables/马嵬驿.png">
    <img style="position:absolute;left:332px;top:328px;" src="sandTables/融天岭.png">
    <img style="position:absolute;left:576px;top:171px;" src="sandTables/龙门荒漠.png">
    <img style="position:absolute;left:236px;top:492px;" src="sandTables/黑龙沼.png">
    <img style="position:absolute;left:462px;top:478px;" src="sandTables/白龙口.png">
    <img style="position:absolute;left:691px;top:217px;" src="sandTables/枫华谷战乱.png">
    <img style="position:absolute;left:607px;top:424px;" src="sandTables/瞿塘峡.png">
    <img style="position:absolute;left:321px;top:687px;" src="sandTables/无量山.png">
    <img style="position:absolute;left:879px;top:211px;" src="sandTables/金水镇.png">
    <img style="position:absolute;left:576px;top:695px;" src="sandTables/苍山洱海.png">
    <img style="position:absolute;left:749px;top:486px;" src="sandTables/巴陵县.png">
    <img style="position:absolute;left:815px;top:349px;" src="sandTables/洛道.png">
    <img style="position:absolute;left:810px;top:571px;" src="sandTables/南屏山.png">
  </div>

  <img style="position:absolute;left:122px;top:189px;width:708px;height:478px;z-index:1" src="sandTables/阵营防线.png">
  <img src="sandTables/backgroud.png" style="width:100%;display:block;">
</div>
</body>
</html>
